[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotenv/dotfiles/mattstauffer"]
	path = dotenv/dotfiles/mattstauffer
	url = https://github.com/mattstauffer/dotfiles
[submodule "dotenv/solarized"]
	path = dotenv/solarized
	url = https://github.com/altercation/solarized
[submodule "dotenv/dircolors-solarized"]
	path = dotenv/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
